body {
    font-family: 'Arial Nova', Arial, Helvetica, sans-serif;
    margin: 0;
    background: #000000;
}

a {
    text-decoration: none;
}

nav {
    background: #000000;
}

nav a {
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.8em 0 0.8em 1.5em;

    letter-spacing: 0.15em;
    transition: 0.2s;
}

nav a:hover {
    background: #252525;
    color: #F3CA3E;
}

.active {
    color: #F3CA3E !important;
    font-weight: bold;
}

nav hr {
    margin: 0 1.3em;
    border-color: #4e4e4e;
}

#menuCollapse {
    clear: both;
    display: none;
    flex-flow: column;
    height: 100%;
}

#menuButton {
    float: right;
    padding: 0.8em 1.5em;
    line-height: 3rem;
    text-align: center;
}

#contactButton {
    display: none;
}

#contactButton a {
    display: block;
}

#branding {
    float: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-variant: small-caps;
    font-size: 1.3em;
    text-transform: none;
    padding-right: 1.5em;
    line-height: 2.5rem;
}

#myFace {
    vertical-align: bottom;
    width: 2.5rem;
    margin-right: 1em;
}

footer {
    display: flex;
    justify-content: center;
    background: #000000;
    color: #FFFFFF;
    padding: 2em 3em;
}

footer a {
    color: #4e4e4e;
    transition: 0.1s;
}

footer a:hover {
    color: #F3CA3E;
}

footer ul {
    list-style-type: none;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

#footerEmail {
    margin-right: auto;
}

#footerEmail li:first-child {
    font-weight: bold;
    color: #4e4e4e;
}

#footerSocial {
    margin-left: auto;
    text-align: right;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #menuButton {
        display: none;
    }

    #navHome {
        display: none;
    }

    nav hr {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menuCollapse {
        display: flex !important;
        flex-direction: row;
    }

    #menuCollapse a {
        padding: 1.7rem 1.5rem;
        text-align: center;
    }

    #menuCollapse a:hover {
        letter-spacing: 0.3em;
    }

    #contactButton {
        display: initial !important;
        padding: 0;

    }

    #contactButton a {
        color: #3399FF;
        padding: 1.7rem 1.5rem;
    }

    #contactButton a:hover {
        background: #3399FF;
        color: #FFFFFF;
        letter-spacing: 0.3em;
    }

}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */